{{! Carousel images -- Images are sourced from the theme asset images }}
<section class="carousel">
    <div class="carousel-img">
        <img src="{{asset "images/carousel_1.jpg"}}" />
    </div>
    <div class="carousel-img">
        <img src="{{asset "images/carousel_2.jpg"}}" />
    </div>
    <div class="carousel-img">
        <img src="{{asset "images/carousel_3.jpg"}}" />
    </div>
    <div class="carousel-img">
        <img src="{{asset "images/carousel_4.jpg"}}" />
    </div>
    <div class="carousel-img">
        <img src="{{asset "images/carousel_5.jpg"}}" />
    </div>
    <div class="carousel-img">
        <img src="{{asset "images/carousel_6.jpg"}}" />
    </div>
    <div class="carousel-img">
        <img src="{{asset "images/carousel_7.jpg"}}" />
    </div>
    <div class="carousel-img">
        <img src="{{asset "images/carousel_8.jpg"}}" />
    </div>
    <div class="carousel-img">
        <img src="{{asset "images/carousel_9.jpg"}}" />
    </div>
    <div class="carousel-img">
        <img src="{{asset "images/carousel_10.jpg"}}" />
    </div>
    <div class="carousel-img">
        <img src="{{asset "images/carousel_11.jpg"}}" />
    </div>
    <div class="carousel-img">
        <img src="{{asset "images/carousel_12.jpg"}}" />
    </div>
</section>
